:root {
    --col-success-bg: #0f08;
    --col-warning-bg: #fc07;
    --col-error-bg: #f007;
}

:root[data-theme="light"] {
    --col-info-bg: #38f;
}
:root[data-theme="dark"] {
    --col-info-bg: #05f5;
}

.messages {
    border-bottom: 1px solid var(--col-hr);

    > li {
        list-style-type: none;
        padding-block: 0.5em;
        font-weight: bold;
    }
    > .info {
        background-color: var(--col-info-bg);
    }
    > .success {
        background-color: var(--col-success-bg);
    }
    > .warning {
        background-color: var(--col-warning-bg);
    }
    > .error {
        background-color: var(--col-error-bg);
    }
}