/* === Global Variables === */
:root {
    color-scheme: light dark;
    --section-border: 1px solid var(--col-hr);
    --shadow-block: 0.32rem 0.32rem var(--col-fg);
    --shadow-outline: 0 0 2px var(--col-fg);
}
/* https://www.realtimecolors.com/?colors=212121-f1e9ee-6d55af-dc8fcc-e8bfd3 */
:root[data-theme="light"] {
    --col-fg: #212121;
    --col-bg: #f1e9ee;
    --col-primary: #836cc3;
    --col-secondary: #dc8fcc;
    --col-accent: #e8bfd3;
    --col-hr: #a9a;
}
:root[data-theme="dark"] {
    --col-fg: #dedede;
    --col-bg: #160e13;
    --col-primary: #5d4896;
    --col-secondary: #893879;
    --col-accent: #823660;
    --col-hr: #dcd;
}

@media screen and (max-width: 800px) {
    .wide-only {
        display: none;
    }
}

/* === General === */

body {
    background-color: var(--col-bg);
    color: var(--col-fg);
    font-family: Inter, Roboto;
    font-weight: 300;
}

.section {
    width: 100%;
}

.section-heading {
    border-bottom: solid 0.3em var(--col-fg);
    display: inline-block;
    padding-right: 1em;
}

.content {
    max-width: 1250px;
    margin-inline: auto;
    padding-inline: 3rem;
}
.content-right-align {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.name-bold {
    font-weight: bold;
}

.selectable {
    position: relative;
    transition: translate 0.2s, box-shadow 0.2s;
    cursor: pointer;
}
.selectable:hover:not(:active) {
    translate: 0 -0.32rem;
    box-shadow: var(--shadow-block);
}

/* === Panels === */

.panel {
    background-color: var(--col-panel, var(--col-accent));
    padding: 1em;
    border-radius: 1em;
    margin-block: 1em;
    box-shadow: var(--shadow-block);
    width: fit-content;
}
.panel-primary {
    --col-panel: var(--col-primary);
}
.panel-secondary {
    --col-panel: var(--col-secondary);
}
.panel-empty {
    --col-panel: transparent;
    border: solid 1px var(--col-fg);
    backdrop-filter: blur(10px);
}

/* === Buttons === */

.button {
    text-decoration: none;
    background-color: var(--col-button, var(--col-accent));
    padding: 1rem 2.5rem;
    font-weight: 600;
    border-radius: 0.5em;
    display: inline-block;
    text-align: center;
}
.button-cta {
    text-transform: uppercase;
}
.button-primary {
    --col-button: var(--col-primary);
}
.button-secondary {
    --col-button: var(--col-secondary);
}
.button-black {
    --col-button: var(--col-fg);
    color: var(--col-bg);
}
.button-form {
    font-size: 1.4rem;
    padding: 0.4rem 1.6rem;
}

/* === Wider screens === */

@media screen and (min-width: 801px) {
    .narrow-only {
        display: none;
    }

    .body-text {
        font-size: 1.2rem;
    }
}