/* === Hero === */

.page-header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.page-preheading {
    font-size: 1.8rem;
}

.page-heading {
    width: fit-content;
    color: transparent;
    background-image: linear-gradient(to right, var(--col-primary), var(--col-secondary), var(--col-accent));
    background-clip: text;
    margin-top: -0.4em;
    /* The first shadow helps with readability against the hero background */
    filter: drop-shadow(var(--shadow-outline)) drop-shadow(var(--shadow-block));
}

.header-button-group {
    display: flex;
    gap: 1rem;
}

/* === Workflow === */

.workflow {
    display: flex;
    flex-direction: column;
    counter-reset: workflow-item;
    margin-block: 2em;
    gap: 2em;
}

.workflow-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    counter-increment: workflow-item;
    width: 100%;
}

.workflow-icon {
    height: 15em;
}

.workflow-text {
    font-weight: bold;
    font-size: 1.4rem;
    text-align: center;
}

.workflow-text::before {
    content: counter(workflow-item)". ";
}

/* === Wider screens === */

@media screen and (min-width: 801px) {
    .workflow {
        flex-direction: row;
        justify-content: space-around;
    }

    .workflow-icon {
        height: 5em;
        width: auto;
    }

    .page-header-content {
        padding-block: 10rem;
    }

    .page-preheading {
        font-size: 2.5rem;
    }
}