.user-form-page-content {
    position: relative;
    padding-block: 5rem;
    display: flex;
    justify-content: center;
}

.user-form {
    padding: 3rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-heading {
    font-size: 3rem;
    margin: 0;
}

.form-field-area {
    display: flex;
    flex-direction: column;
}

.errorlist {
    color: #f00c;
    font-weight: 400;
    list-style-type: none;
}

input[type="text"], input[type="email"], input[type="password"] {
    background-color: var(--col-bg);
    border-radius: 2rem;
    border: 1px solid var(--col-fg);
    padding: 0.5rem 1rem;
}

/* === Wider screens === */

@media screen and (min-width: 801px) {
    .user-form {
        padding: 4rem 6rem;
        width: min-content;
        align-items: flex-start;
    }

    input[type="text"], input[type="email"], input[type="password"] {
        width: 40ch;
    }
}