{% extends "base/base.html" %}

{% load static %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" href="{% static "pages/css/pages.css" %}">
{% endblock stylesheets %}

{% block page_header %}
<header class="section">
    <div class="content page-header-content hero-content">
        {% block page_header_content %}
            <hgroup>
                <p class="page-preheading">{% block page_preheading %}{% endblock page_preheading %}</p>
                <h1 class="page-heading hero-heading">{% block page_heading %}{% endblock page_heading %}</h1>
            </hgroup>
            <p class="page-description">{% block page_description %}{% endblock page_description %}</p>
        {% endblock page_header_content %}

        {% include "pages/svgs/header-image.html" %}
    </div>
</header>
{% endblock page_header %}