{% extends "base/base.html" %}

{% load static %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" href="{% static "pages/css/pages.css" %}">
{% endblock stylesheets %}

{% block content %}
<header class="section">
    <div class="content page-header-content">
        {% block page_header_content %}
            <h1 class="page-heading">{% block page_heading %}{% endblock page_heading %}</h1>
            <p class="page-description">{% block page_description %}{% endblock page_description %}</p>
        {% endblock page_header_content %}

        {% include "pages/svgs/header-image.html" %}
    </div>
</header>
{% endblock content %}