.hero-image {
    position: absolute;
    top: 0;
    z-index: -1;
}

.profile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 2rem;
    position: relative;
}

.vert {
    display: none;
    border-left: 1px solid var(--col-hr);
    margin-inline: 2rem;
}

/* === Profile Panel === */

.panel-profile {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.profile-avatar {
    width: 50%;
    aspect-ratio: 1 / 1;
    background-color: var(--col-fg);
    border-radius: 100%;
    margin-inline: auto;
}

.profile-item-name {
    margin-top: 0;
    margin-bottom: 0.4rem;
}

/* === Sites === */

.sites {
    width: 100%;
}

/* === Wider screens === */

@media screen and (min-width: 1000px) {
    .hero-image {
        max-width: 50%;
    }
    
    .profile-content {
        flex-direction: row;
        align-items: stretch;
    }

    .vert {
        display: block;
    }

    .panel-profile {
        max-width: 40ch;
    }
}