{% load static %}

<header class="section site-header">
    <div class="wide-only">
        <div class="content site-header-content">
            <nav class="site-header-nav">
                <a class="site-header-option selectable" href="index.html">{% include "base/svgs/logo.html" %}</a>
                <a class="site-header-option selectable" href="index.html">Home</a>
                <a class="site-header-option selectable" href="index.html">Get Inspired</a>
                <a class="site-header-option selectable" href="index.html">About</a>
            </nav>
            <nav class="site-header-nav">
                <button class="site-header-option selectable" onclick="setThemeSetting('light')">Light</button>
                <button class="site-header-option selectable" onclick="setThemeSetting('dark')">Dark</button>
                <button class="site-header-option selectable" onclick="setThemeSetting(null)">System</button>
                <a class="site-header-option selectable" href="index.html">Log In</a>
            </nav>
        </div>
    </div>

    <div class="narrow-only">
        <div class="content site-header-content">
            <nav class="site-header-nav">
                <a class="site-header-option" href="index.html">{% include "base/svgs/logo.html" %}</a>
            </nav>
        </div>
    </div>
</header>