<footer class="section footer">
    <div class="content">
        <div class="footer-content">
            <nav class="footer-nav">
                <a class="footer-option selectable" href="index.html">Home</a>
                <a class="footer-option selectable" href="index.html">About</a>
                <a class="footer-option selectable" href="index.html">Get inspired</a>
                <a class="footer-option selectable" href="index.html">Log in</a>
            </nav>
            <nav class="footer-nav">
                <a class="footer-option selectable" href="index.html">Disclaimer</a>
                <a class="footer-option selectable" href="index.html">Privacy</a>
                <a class="footer-option selectable" href="index.html">Report misuse</a>
            </nav>
            <nav class="footer-nav">
                <a class="footer-option selectable" href="index.html">Contact</a>
            </nav>
        </div>
    </div>
</footer>