<footer class="section footer">
    <div class="content">
        <div class="footer-content">
            <nav class="footer-nav">
                <h2 class="footer-header section-heading">Project Jotter</h2>
                <a class="footer-option selectable" href="{% url "index" %}">Home</a>
                <a class="footer-option selectable" href="index.html">About</a>
                <a class="footer-option selectable" href="index.html">Get inspired</a>
            </nav>
            <nav class="footer-nav">
                <h2 class="footer-header section-heading">Account</h2>
                {% if user.is_authenticated %}
                    <a class="footer-option selectable" href="{% url "profile" %}">Profile</a>
                    <a class="footer-option selectable" href="{% url "change-password" %}">Change password</a>
                    {% if user.is_staff %}
                        <a class="footer-option selectable" href="{% url "admin:index" %}">Admin</a>
                    {% endif %}
                {% else %}
                    <a class="footer-option selectable" href="{% url "login" %}">Log In</a>
                    <a class="footer-option selectable" href="{% url "register" %}">Register</a>
                {% endif %}
            </nav>
            <nav class="footer-nav">
                <h2 class="footer-header section-heading">Legal</h2>
                <a class="footer-option selectable" href="index.html">Disclaimer</a>
                <a class="footer-option selectable" href="index.html">Privacy policy</a>
                <a class="footer-option selectable" href="index.html">Report misuse</a>
                <a class="footer-option selectable" href="index.html">Contact</a>
            </nav>
            <nav class="footer-nav">
                <h2 class="footer-header section-heading">Theme</h2>
                <button class="footer-option selectable" onclick="setThemeSetting('light')">Light</button>
                <button class="footer-option selectable" onclick="setThemeSetting('dark')">Dark</button>
                <button class="footer-option selectable" onclick="setThemeSetting(null)">System</button>
            </nav>
        </div>
    </div>
</footer>