{% extends "base/base.html" %}

{% load static %}

{% block title %}
    {{ title }}'s Profile
{% endblock title %}
{% block description %}
    {% if profile.pronouns %}Pronouns: {{ profile.pronouns }}{% endif %}
    {% if profile.bio %}Bio: {{ profile.bio }}{% endif %}
{% endblock description %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" href="{% static "user_profiles/css/user_profiles.css" %}">
{% endblock stylesheets %}

{% block content %}
<section class="section">
    <div class="content profile-content">
        <div class="panel panel-empty panel-profile">
            <div class="profile-avatar"></div>

            {% if profile.name %}
                <h2 class="section-heading profile-item-name">{{ profile.name }}</h2>
                <div class="profile-item">
                    <h3 class="section-heading profile-item-name">Username</h3>
                    <p class="body-text">{{ profile.user.username }}</p>
                </div>
            {% else %}
                <h2 class="section-heading profile-item-name">{{ profile.user.username }}</h2>
            {% endif %}

            <div class="profile-item">
                {% if profile.pronouns %}
                    <h3 class="section-heading profile-item-name">Pronouns</h3>
                    <p class="body-text">{{ profile.pronouns }}</p>
                {% endif %}
            </div>
            <div class="profile-item">
                {% if profile.bio %}
                    <h3 class="section-heading profile-item-name">Bio</h3>
                    <p class="body-text">{{ profile.bio|linebreaks }}</p>
                {% endif %}
            </div>
            {% if profile == user.profile %}
                <a href="{% url "edit-profile" %}" class="button button-black selectable">Edit</a>
            {% endif %}
        </div>

        <div class="vert"></div>

        <div class="projects">
            <h2 class="section-heading projects-heading">Projects</h2>
            {% if projects|length == 0 %}
                <div class="no-projects panel panel-empty">
                    <p class="body-text">This user has no projects!</p>
                    {% if profile.user == user %}
                        <a href="" class="button button-black selectable">Start a project</a>
                    {% endif %}
                </div>
            {% else %}
                <div class="project-grid">
                    {% for project in projects %}
                        <a class="project-link" href="{% url "view-project" username=profile.user.username project_name=project.name %}">
                            <figure class="project panel panel-empty">
                                <img
                                    class="project-image"
                                    src="{% if project.image %}{{ project.image.url }}{% else %}{% static "projects/images/default_project.png" %}{% endif %}"
                                >
                                <figcaption class="project-text">
                                    <h4 class="project-title">{{ project.name }}</h4>
                                    {% if project.is_completed %}<p class="project-tag">Compeleted</p>{% endif %}
                                    {% if project.is_private %}<p class="project-tag">Private</p>{% endif %}
                                </figcaption>
                            </figure>
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        {% include "pages/svgs/header-image.html" %}
    </div>
</section>
{% endblock content %}